@font-face {
  font-family: "iconfont"; /* Project id 2561495 */
  src: url('iconfont.woff2?t=1622941666907') format('woff2'),
       url('iconfont.woff?t=1622941666907') format('woff'),
       url('iconfont.ttf?t=1622941666907') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-aixin1:before {
  content: "\e635";
}

.icon-xuanzhong:before {
  content: "\e602";
}

.icon-shuaxin:before {
  content: "\e60e";
}

.icon-jianji:before {
  content: "\e8ad";
}

.icon-bianji:before {
  content: "\e70e";
}

.icon-shanchu:before {
  content: "\e615";
}

.icon-yunshangchuan:before {
  content: "\e709";
}

.icon-yun-shangchuan:before {
  content: "\e740";
}

.icon-xiazai:before {
  content: "\e618";
}

.icon-xiangce:before {
  content: "\e65b";
}

.icon-jinbi:before {
  content: "\e6af";
}

.icon-video:before {
  content: "\e634";
}

.icon-yuanquan:before {
  content: "\e619";
}

.icon-yuanquan_xuanzhong:before {
  content: "\e647";
}

.icon-lock:before {
  content: "\e614";
}

.icon-shezhi:before {
  content: "\e611";
}

.icon-shanshui:before {
  content: "\e73b";
}

.icon-cheliang:before {
  content: "\e629";
}

.icon-dongwugugefenxi:before {
  content: "\e66e";
}

.icon-louyushu:before {
  content: "\e626";
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-ren:before {
  content: "\e6c5";
}

.icon-iconset0157:before {
  content: "\e638";
}

.icon-changyongicon--copy:before {
  content: "\e8ac";
}

.icon-changyongicon-:before {
  content: "\e612";
}

